<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
			<a href="https://facebook.com/khalweir" target="_blank">			
		      <i class="ss-facebook"></i>
			  Khal
	        </a>
          </li>
          <li>
			<a href="https://twitter.com/khalweir" target="_blank">			
		      <i class="ss-twitter"></i>
			  khalweir
	        </a>
          </li>
		  <li>
			<a href="https://instagram.com/khalweir" target="_blank">
			  <i class="ss-instagram"></i>
			  khalweir
		    </a>
		  </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>
			<a href="https://facebook.com/sguardiaayvar" target="_blank">			
		      <i class="ss-facebook"></i>
			  Sarah
	        </a>
          </li>
          <li>
			<a href="https://twitter.com/sjguardi" target="_blank">			
		      <i class="ss-twitter"></i>
			  sjguardi
	        </a>
          </li>
		  <li>
			<a href="https://instagram.com/sjguardi" target="_blank">			
		      <i class="ss-instagram"></i>
			  sjguardi
	        </a>
		  </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
    </div>

  </div>

</footer>
