<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
			<a href="https://facebook.com/khalweir" target="_blank">			
		      <i class="ss-facebook"></i>
			  Khal
	        </a>
          </li>
          <li>
			<a href="https://twitter.com/khalweir" target="_blank">			
		      <i class="ss-twitter"></i>
			  khalweir
	        </a>
          </li>
		  <li>
			<a href="https://instagram.com/khalweir" target="_blank">
			  <i class="ss-instagram"></i>
			  khalweir
		    </a>
		  </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>
			<a href="https://facebook.com/sguardiaayvar" target="_blank"><i class="ss-facebook"></i>&nbsp;Sarah</a>
          </li>
          <li>
			<a href="https://twitter.com/sjguardi" target="_blank"><i class="ss-twitter"></i>&nbsp;sjguardi</a>
          </li>
		  <li>
			<a href="https://instagram.com/sjguardi" target="_blank"><i class="ss-instagram"></i>&nbsp;sjguardi</a>
		  </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
		<ul class="social-media-list">
          <li><a href="mailto:{{ site.email }}"><i class="ss-mail"></i>&nbsp;{{ site.email }}</a></li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="ss-rss"></i>&nbsp;RSS</a></li>
		</ul>
      </div>
    </div>

  </div>

</footer>
